@import url('https://fonts.googleapis.com/css2?family=Prompt&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import "tailwindcss";
@plugin "daisyui" {
    themes: light --default;
}
@plugin "@tailwindcss/typography";

@theme {
    --color-title: #0a3b1f;
    --color-lighter: #44b15b;
}

/*min-w-3xl THIS IS MIN WIDTH SIZE THE UI WILL SHRINK TO*/
/*NO PADDING BELOW XL*/
body {
    font-family: 'Prompt', sans-serif;
    font-size: 16px;  /* default */
}

dialog:not([open]) {
    display: none; /* remove it completely when closed */
}

.input-box {
    @apply input input-lg rounded-2xl placeholder-black
}

.input-box-gray {
    @apply input input-lg rounded-2xl placeholder-gray-300 xl:w-2/3 w-4/5
}

.input-box-half {
    @apply input input-lg rounded-2xl placeholder-gray-300 xl:w-1/4 w-4/5
}

.input-select {
    @apply select rounded-2xl select-lg z-0 xl:w-2/3 w-4/5
}

.in-line-stat {
    @apply flex flex-row text-xs items-center
}

.in-line-icon {
    @apply mr-4 w-5
}

.requirements-icon {
    @apply mr-4 w-7
}

.requirements-div {
    @apply flex flex-row items-center
}

.box-shadow {
    box-shadow: 0 4px 4px rgba(0,0,0,0.3);
}

.sidebar-properties {
    @apply flex items-center h-35
}

.sidebar-highlight {
    @apply bg-[#e3ffea] border-l-8 border-[#21803a]
}

.sidebar-normal {
    @apply hover:bg-[#D9D9D9]
}

.company-admin-logo {
    @apply w-[135px] h-[135px] rounded-2xl ml-2
}

.admin-box {
    @apply min-w-[168px]
}

.job-input-box {
    @apply flex flex-col space-y-5
}

.title-and-error-box {
    @apply flex space-x-5 items-center
}